*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.navbar {
    background-color: #3278AB;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.navbar ul {
    display: flex;
    justify-content: center; /* Change to center to center the items */
    align-items: center;
    padding: 10px 0; /* Adjust the vertical padding here */
}

.navbar a {
    text-decoration: none;
    color: white;
    padding: 0 20px; /* Adjust the horizontal padding here */
}

.navbar li {
    display: inline-block;
    position: relative;
}

.navbar ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #3278AB;
    z-index: 10000;
    color: #3278AB;
    border-radius: 5px; 
}

.navbar ul ul li:hover a {
    text-decoration: underline; 
}


.dropdown ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white; 
    color: #3278AB; 
    z-index: 10000;
}

.dropdown li {
    display: inline-block;
    position: relative;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.container h1{
    margin-top: 100px;
}
.pcontainer{
    width: 80%;
    max-width: 600px;
    margin: 100px auto 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
    transition: transform 0.3s;
    align-items: center;
}

.pcontainer h1{
    margin-top: 150px;
}
.content {
    text-align: justify;
    margin-bottom: 60px;
}
.col-md-4 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 0 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container row .main{
    height: 650px;
}

.service p {
    text-align: center;
    padding: 20px;
}

.box {
    width: 100%;
    max-width: 300px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 30px;
    padding: 0px;
    background: 0;
    color: wheat;
    text-align: center;
    border-radius: 15px;
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.box p {
    text-align: center;
}

h1{
    text-align: center;
    margin: 50px auto 120px;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}
.service{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #fff;
    border-radius: 10px;
    z-index: 1;
    box-shadow: 0 0 20px -15px #030380;
    transition: transform .8s;
    margin-top: 100px;
}
.service p, .service ul{
    height: 352px;
    width: 289.95px;
}

.service-logo{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: -90px auto 0;
    background: #fff;
    border: 18px solid #007bff;
}
.service-logo i{
    margin-top: 25px;
}
.service h4{
    height: 35px;
    width: 80%;
    background: #fff;
    margin: 50px auto;
    position: relative;
}
.service h4::after{
    content: '';
    width: 40px;
    height: 30px;
    background: linear-gradient(to right,#fff,#007bff);
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: -1;
}
.service h4::before{
    content: '';
    width: 40px;
    height: 30px;
    background: linear-gradient(to right,#007bff,#fff);
    position: absolute;
    left: -5px;
    bottom: -5px;
    z-index: -1;
}
.service-logo img{
    width: 50px;
    margin-top: 20px;
}
.shadowOne{
    height: 20px;
    width: 80%;
    background: #fff;
    position: absolute;
    border-radius: 10px;
    bottom: 0;
    left: 10%;
    z-index: -1;
    box-shadow: 0 0 20px -15px #030380;
    transition: transform .8s;
}
.shadowTwo{
    height: 200px;
    width: 64%;
    background: #fff;
    position: absolute;
    border-radius: 10px;
    bottom: 0;
    left: 18%;
    z-index: -2;
}
.main:hover .service {
    transform: translateY(-50px);
    transition: transform 0.8s ease;
}

.main:hover .shadowOne {
    transform: translateY(-25px);
    transition: transform 0.8s ease;
}
.dropdown li {
    display: inline-block;
    position: relative;
}
.submenu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dropdown  a {
    text-decoration: none;
    padding: 10px;
    display: block;
    color: #333;
}
.dropdown {
    position: relative;
    z-index: 1;
}

.dropdown ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #eee;
    z-index: 2;
}

ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #eee;
}

ul li:hover > ul {
    display: block;
}

html,body{
    min-width: 600px;
}

.x {
    padding-left: 30px;
}

body {
    background: url('img/Fondo3.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
    font-family: 'Century Gothic', sans-serif;
}

.box-img{
    border-radius: 50%;
}
.box h1{
    font-size: 30px;
    letter-spacing: 4px;
    font-weight: 100;
    margin: 10px 0 10px;
}
.box h2{
    font-size: 15px;
    letter-spacing: 3px;
    font-weight: 100;
    margin-bottom: 20px;
}

.box p {
    font-size: 15px;
    text-align: justify;
}
.box ul{
    list-style: none;
    margin-top: 10px;
}
.box ul a{
    color: black;
    font-size: 45px;
    padding: 10px 5px;
    display: inline-block;
    transition: all 0.5s ease-in-out;
}
.box ul a:hover{
    color: #F7FF33;
    transform: scale(1.1);
}

footer {
    background-color: #3278AB;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    font-size: 15px;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 10px 0;
    padding: 0 16px;
}

footer a:hover {
    color: #ff9900;
}

.subir{
    background-color: #326192;
    padding: 15px 0;
    font-size: 18px;
}

footer p{
    padding: 16px 0;
}

.leftfooter{
    grid-area: left;
    padding-left: 15px;
    border-right: 1px #fff solid;
}
.centerfooter{
    grid-area: center;
    padding-left: 15px;
    border-right: 1px #fff solid;
}
.rightfooter{
    grid-area: right;
    padding-left: 15px;
}
.containfooter{
    display: grid;
    text-align: justify;
    margin-left: 22%;
    margin-right: 22%;
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "left center right";
    border-top: 1px #fff solid;
    border-bottom: 1px #fff solid;
}
.containfooter ul{
    list-style: none;
    list-style-type: none;
    padding: 0;
    margin-left: 0;
}
.containfooter ul li a{
    list-style: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.containfooter .rightfooter ul li p{
    padding: 0;
    margin: 0;
}
.containfooter .rightfooter ul li .numero{
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}
.aboutus, .help, .contact{
    font-size: 20px;
    padding-bottom: 10px;
}
.socialNetworks{
    display: grid;
    text-align: center;
    padding: 0 5px;
    margin-left: 30%;
    margin-right: 30%;
    border-bottom: 1px #fff solid;
}

.socialNetworks ul{
    list-style: none;
}
.socialNetworks ul a{
    color: white;
    font-size: 45px;
    display: inline-block;
    margin: 5px;
    transition: all 0.5s ease-in-out;
}
.socialNetworks ul a:hover{
    color: #F7FF33;
    transform: scale(1.1);
}